* {
    font-family: roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-size: 15px;
}

.logo {
    margin-left: 150px;
    color: #f9faf8;
}

.nav a {
    color: #f9faf8;
    text-decoration: none;
    font-size: 11px;
    font-weight: 300;
}

.nav {
    display: flex;
    margin-top: 26px;
    margin-right: 150px;
    width: 250px;
    justify-content: space-between;
}

.main-header {
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 1px;
    margin-top: 0px;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    margin-left: 150px;
    margin-bottom: 30px;
    margin-right: 10px;

}

.top {
    background-color: #1f2937;
}

.left-side p {
    margin-top: 0px;
    color: #e5e7eb;
    font-size: 12px;
}

.left-side .signUp {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: #e5e7eb;
    width: 80px;
    height: 30px;
}


.sec-1 {
    display: flex;
    margin-top: 50px;
}

.right-side {
    width: 400px;
    height: 200px;
    background-color: grey;
    margin-right: 150px;
    color: #e5e7eb;
    font-size: 10px;
    text-align: center;
    align-content: center;
    opacity: 90%;
}

.right-side text {
    opacity: 100%;
}

.Middle .info {
    /* display: flex; */
    justify-self: center;
}

.Middle .info-header {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;

}

.Middle .info .info-img {
    width: 120px;
    height: 120px;
    border: 2px solid #3882f6;
    border-radius: 10px;

}

.Middle .info .info-text {
    width: 120px;
    font-size: 10px;
    color: gray;
    justify-content: center;
    margin-top: 3px;
}

.articles {
    display: flex;
    justify-content: space-between;
    width: 600px;
    justify-self: center;
    margin-bottom: 30px;
}

.quote {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #e5e7eb;
    margin: 0px;

    justify-content: center;
    align-items: center;
}

.quote .text-box {

    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    width: 75%;
    font-size: 36px;

}

.quote .author {
    justify-self: flex-end;
    align-self: flex-end;
}


@media (max-width:400px) {
    .logo {
        margin-left: 1em;
    }

}